:root {
    font-family: 'Poppins', ui-sans-serif;
    --font-scale: 1.333;
    --p: 1rem;
    --h5: calc(var(--p)* var(--font-scale));
    --h4: calc(var(--h5)* var(--font-scale));
    --h3: calc(var(--h4)* var(--font-scale));
    --h2: calc(var(--h3)* var(--font-scale));
    --h1: calc(var(--h2)* var(--font-scale));
    --small: calc(var(--p) / var(--font-scale));
    --margin-lg: 0 12%;
    --margin-md: 0 6%;
    --border1: 1rem;
    --border05: 0.5rem;
    --primary: #4a78b5;
    --accent: #5d9cea;
    --text: #0c0d0e;
    --secondary30: hsl(214, 59%, 72%, 30%);
    --text5: hsl(210, 8%, 5%, 5%);
}

:root[data-theme="light"] {
    --bg: #fbfbfe;
    --static7: rgba(0, 0, 0, 0.1);
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

head {
    display: none;
}

* {
    box-sizing: border-box;
    scroll-padding-top: 3em;
    font-family: 'Poppins', ui-sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: auto !important;
    font-family: 'Poppins', ui-sans-serif;
    color: #0c0d0e var(--text);
    background-color: #f5f7fa var(--bg);
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
    line-height: 1.75;
    margin: var(--margin-lg);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: fixed;
    background-color: #fbfbfe;
    z-index: 9997;
    padding: .9rem 9%;
    border-bottom: 1px solid var(--static7);
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.logoface {
    width: 30px;
    transform: rotate(0);
    background: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    mix-blend-mode: multiply;
}

a {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
}

p, small, a, li, table {
    line-height: 2.25;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    line-height: 1.5;
    margin: 0;
}

.sitename {
    font-size: var(--p);
    font-weight: 700;
    margin: 0;
}

.menu.hide { 
    display: flex;
}

.menu { 
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    gap: 15%; 
    justify-content:flex-end; 
} 

.menu-item-mobile { 
    font-size: var(--p); 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4em;
    margin: 9rem 0;
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 2rem 6rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    width: 60%;
}

.hero-text>h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 1.3;
}

h4 {
    font-size: var(--h4);
    letter-spacing: 0;
    font-weight: 700;
}

h5 {
    font-size: var(--h5);
    font-weight: 400;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) } 
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

.type {
    display:inline-flex;
}
  
.type span {
    word-break: break-all;
    height: 1.3em;
    width:0%;
    overflow: hidden;
    animation:t 5s linear infinite alternate;
  }

.type span:before {
    content:" ";
    display:inline-block;
}

@keyframes t{
    90%,100% {width:100%}
}

.color-effect {
    background: linear-gradient(120deg, var(--primary), var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--h2);
}

.font-effect {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text);
}

p {
    font-size: var(--p);
    letter-spacing: normal;
    text-align: justify;
}

.hero-cta {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.btn-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

.primary-button {
    padding: 0.5em 2em;
    background-color: var(--primary);
    color: var(--bg);
    border-radius: var(--border05);
    transition: transform ease 0.2s, box-shadow ease 0.2s;
    display: inline-block;
    font-size: var(--p);
    z-index: 2;
    white-space: nowrap;
    box-shadow: 0 5px 15px -5px #00000070;
}

.secondary-button {
    padding: 0.5em 2em;
    background-color: var(--secondary30);
    color: var(--text);
    border-radius: var(--border05);
    display: inline-block;
    font-size: var(--p);
    z-index: 1;
    cursor: pointer;
    transition: transform ease 0.2s;
    white-space: nowrap;
    box-shadow: 0 5px 15px -5px #00000070;
}

.social-media-btn {
    background-color: hsla(0, 0%, 100%, .1);
    transition: transform ease 0.2s;
    box-shadow: 0 5px 15px -5px #00000070;
    border-radius: 40%;
    overflow: hidden;
    position: relative;
    width: 0px;
    height: 50px;
    padding-left: 17px;
}

.social-media-btn i {
    font-size: var(--p);
    transition: 0.2s linear;
}

.social-media-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

.linkedin:hover {
    background: #0077B5;
}

.github:hover {
    background: black;
}

.hero-scroll {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    font-size: var(--p);
}

small {
    font-size: var(--small);
}

.hero-img {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3%;
}

.hero-img img {
    width: 80%;
    object-fit: contain;
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
}

.divider-line {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    border-radius: 9999px;
    width: .25rem;
    height: 4rem;
}

div .skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: var(--h2);
    letter-spacing: 0;
    font-weight: 700;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2em;
}

.about-header-container.center {
    align-items: center;
    text-align: center;
}

.about-content-container {
    background-color: var(--secondary30);
    border-radius: 50px;
    padding: 48px;
    margin-bottom: 70px;
}

.skills-header-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.skills-header-container>h4 {
    text-align: center;
}

.skills-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: #fbfbfe;
}

.skills-cards-item-container {
    padding-left: 16px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100%;
    gap: 4em;
    flex-flow: wrap;
}

.skills-cards-item {
    background: #a0a0a015;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 8px;
    width: 100px;
	height: 100px;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.1);
    vertical-align: top;
    border-radius: 15px;
    justify-content: center;
    position: relative; 

    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -4px;
        background-color: white;
    }
    
}

.skills-cards-item-img {
    height: 40%;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.skills-img {
    width: 35px;
    height: 35px;
    max-inline-size: 80%;
    block-size: auto;
    object-fit: contain;
}

.skills-img-desc {
    margin: 0px;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
    text-wrap: nowrap;
}

.timeline-main-container {
    padding-top: 5%;
}

.timeline-header-sub-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.timeline-header-sub-container>h4 {
    text-align: center;
}

.timeline-content-sub-container {
    position: relative;
    min-height: 150px;
}

.timeline-center-line{
    position: absolute;
    left: calc(50% - 1px);
    width: 3px;
    top: 3px;
    background-color: #e4e4e4
}

.timeline-center-line:before,
.timeline-center-line::after{
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-center-line:after{
    bottom: 0;
}

.timeline-icon {
    width: 30px;
    height: 30px;
    padding-top: 5px
}

.section {
    display: flex;
    opacity: 0;
    transform: translateX(-100%);
    transition: 600ms ease;
    position: relative;
    z-index: 1;
    margin: 4px 0;
    padding: 2rem;
    align-items: center;
    min-height: 300px;
}

.section:nth-child(odd){
    flex-direction: row-reverse;
    transform: translateX(100%);
}

.vertical-timeline-element-icon {
    position: absolute;
    display: flex;
    width: 3rem;
    border-radius: 50%;
    background-color: #fff;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    justify-content: center;
    border-style: solid;
}

.vertical-timeline-icon {
    padding-top: 3px;
}

.vertical-timeline-icon.bounce-in {
    animation: bounce-in;
  }

.content{
    width: calc(50% - 2rem);
    background: var(--secondary30);
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.05);
    text-align: left;
    padding: 1rem 2rem;
}

.show-me:nth-child(n){
    transform: none;
    opacity: 1;
}

.content>h6 {
    display: flex;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 0;

}

.content>p {
    font-size: 12px;
    line-height: 2.25;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.contact-main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 10%;
    background-color: var(--text5);
    padding: 48px;
    border-radius: 10px;
    width: 100%;
}

.contact-header-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.contact-header-container>h4 {
    text-align: center;
}

.contact-content-container {
    margin-top: 5%;
}

.input-style {
    height: 3.5rem;
    width: 100%;
    padding-left: 1rem; 
    padding-right: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #000;
    background-color: #fff;
    opacity: 0.8;
    transition: all 0.3s;
    outline: none;
}

.textarea-style {
    height: 13rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #000;
    background-color: #fff;
    opacity: 0.8;
    transition: all 0.3s;
    outline: none;
    width: 100%;
  }

  .button-style {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 3rem;
    width: 8rem;
    background-color: var(--primary);
    color: #fff;
    border-radius: 9999px;
    outline: none;
    transition: all 0.3s;
  }
  
  .button-style:hover {
    transform: scale(1.1);
    background-color: var(--primary);
  }

  button-style:active {
    transform: scale(1.05);
  }
  
  .button-style:disabled {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.65);
  }
  
  .icon-style {
    height: 1em;
    width: 1em;
    opacity: 0.7;
    transition: all 0.3s;
  }
  
  .button-style:hover .icon-style {
    transform: translate(-1px, -1px);
  }
  
.input-style:focus {
   opacity: 1;
}

.underline {
    text-decoration-line: underline;
}

.footer-text {
    font-size: var(--p);
    text-align: center;
    padding-top: 50px;
}

.footer-sub-text {
    font-size: var(--small);
    text-align: center;
}

