:root {
    font-family: 'Poppins', ui-sans-serif;
    --font-scale: 1.333;
    --p: 1rem;
    --h5: calc(var(--p)* var(--font-scale));
    --h4: calc(var(--h5)* var(--font-scale));
    --h3: calc(var(--h4)* var(--font-scale));
    --h2: calc(var(--h3)* var(--font-scale));
    --h1: calc(var(--h2)* var(--font-scale));
    --small: calc(var(--p) / var(--font-scale));
    --margin-lg: 0 12%;
    --margin-md: 0 6%;
    --border1: 1rem;
    --border05: 0.5rem;
    --primary: #4a78b5;
    --accent: #5d9cea;
    --text: #0c0d0e;
    --secondary30: hsl(214, 59%, 72%, 30%);
}

:root[data-theme="light"] {
    --bg: #fbfbfe;
    --static7: rgba(0, 0, 0, 0.1);
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

head {
    display: none;
}

* {
    box-sizing: border-box;
    scroll-padding-top: 3em;
    font-family: 'Poppins', ui-sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: auto !important;
    font-family: 'Poppins', ui-sans-serif;
    color: #0c0d0e var(--text);
    background-color: #f5f7fa var(--bg);
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
    line-height: 1.75;
    margin: var(--margin-lg);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: fixed;
    background-color: #fbfbfe;
    z-index: 9997;
    padding: .9rem 9%;
    border-bottom: 1px solid var(--static7);
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.logoface {
    width: 30px;
    transform: rotate(0);
    background: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    mix-blend-mode: multiply;
}

a {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
}

p, small, a, li, table {
    line-height: 2.25;
    margin: 0;
}

.sitename {
    font-size: var(--p);
    font-weight: 700;
    margin: 0;
}

.menu.hide { 
    display: flex;
}

.menu { 
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    gap: 15%; 
    justify-content:flex-end; 
} 

.menu-item-mobile { 
    font-size: var(--p); 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8em;
    margin: 5rem 0;
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 2rem 6rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    width: 60%;
}

.hero-text>h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 1.3;
}

h4 {
    font-size: var(--h4);
    letter-spacing: 0;
    font-weight: 700;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) } 
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

.type {
    display:inline-flex;
}
  
.type span {
    word-break: break-all;
    height: 1.3em;
    width:0%;
    overflow: hidden;
    animation:t 5s linear infinite alternate;
  }

.type span:before {
    content:" ";
    display:inline-block;
}

@keyframes t{
    90%,100% {width:100%}
}

.color-effect {
    background: linear-gradient(120deg, var(--primary), var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--h2);
}

.font-effect {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text);
}

p {
    font-size: var(--p);
    letter-spacing: normal;
    text-align: left;
}

.hero-cta {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.btn-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

.primary-button {
    padding: 0.5em 2em;
    background-color: var(--primary);
    color: var(--bg);
    border-radius: var(--border05);
    transition: transform ease 0.2s, box-shadow ease 0.2s;
    display: inline-block;
    font-size: var(--p);
    z-index: 2;
    white-space: nowrap;
    box-shadow: 0 5px 15px -5px #00000070;
}

.secondary-button {
    padding: 0.5em 2em;
    background-color: var(--secondary30);
    color: var(--text);
    border-radius: var(--border05);
    display: inline-block;
    font-size: var(--p);
    z-index: 1;
    cursor: pointer;
    transition: transform ease 0.2s;
    white-space: nowrap;
    box-shadow: 0 5px 15px -5px #00000070;
}

.social-media-btn {
    background-color: hsla(0, 0%, 100%, .1);
    transition: transform ease 0.2s;
    box-shadow: 0 5px 15px -5px #00000070;
    border-radius: 40%;
    overflow: hidden;
    position: relative;
    width: 0px;
    height: 50px;
    padding-left: 17px;
}

.social-media-btn i {
    font-size: var(--p);
    transition: 0.2s linear;
}

.social-media-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

.linkedin:hover {
    background: #0077B5;
}

.github:hover {
    background: black;
}

.hero-scroll {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    font-size: var(--p);
}

small {
    font-size: var(--small);
}

.hero-img {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3%;
}

.hero-img img {
    width: 30%;
    object-fit: contain;
    position: absolute;
    z-index: 1;
}